  
<div class="bg-light text-center">
    <h5>Products Selected Are:</h5>
    
<p class="bg-dark">
    <span class="text-white" *ngFor="let title of productsSelected">  ->{{title}}<-  </span>
</p>
</div>
<div class="body">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-5 mb-5">
            <div class="col mt-5 d-block" *ngFor="let prObj of televisions">
                <div class="card text-center shadow">
                    <div class="card-header"><strong>{{prObj.title}}</strong></div>
                    <div class="card-body">
                        <img src={{prObj.img}} class="w-100">
                        <p>{{prObj.title}}</p>
                        <p>{{prObj.price}}</p>
                    </div>
                    <div class="card-footer">
                      <button class="btn bg-primary" (click)="SelectProducts(prObj.title)">Add to cart</button>
                    </div>
                  </div>
            </div>
        </div>
</div>