<div class="container text-white text-center"> 
    <div class="row">
        <div class="col-6">
            <div class="display-1"><i>ANGRY CREATIVE</i></div>
            <h3 class="mt-3 text-warning"><em> Best Products</em></h3>
            <h5>At</h5>
            <h3 class="mt-3 text-warning"><em> Best Price</em></h3>
            <div class="row m-3">
                <div class="col-6">
                    <div class="display-3">1000+</div>
                    <h4>Products</h4>
                </div>
                <div class="col-6">
                    <div class="display-3">5000+</div>
                    <h4>Happy Coustomers</h4>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3"> 
            <img src="https://blog.hubspot.com/hubfs/best-mobile-websites.jpg" alt="">
        </div>
    </div>
    <div class="display-3 m-3" style="color: tomato;">
        <strong> Join Our Community </strong>
    </div>
    <div class="display-3 m-3" style="color:ghostwhite;">
        <strong> Happy Shoping </strong>
    </div>
</div>
